include partials/__head
  body(style={'background-image': "url(/static/images/sky.svg)", 'background-size': "cover"})
      a(href='/')
        img(src='/static/images/tweet.gif' height=110 width=100, style={margin: '0 auto', display: 'block', padding:'1em'})
      p(style='text-align:center') Oops! Looks like we flew away! <br/> #{error} <br/>

